
@font-face {
    src: url('../fonts/orange_kid.ttf');
    font-family: orange-kid;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: orange-kid;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    max-height: 10vh;
    font-family: orange-kid;
    background-color:rgb(92, 39, 249);
}

.logo{
    font-size: 20px;
    text-transform: uppercase;
    color: antiquewhite;
    letter-spacing: 3px;
    border: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}
.menu{
    display: none;
}
.menu div{
    width: 25px;
    height: 3px;
    background-color: antiquewhite;
    margin: 3px;
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 65%;
    }
}

canvas{
    padding: 1%;
    border: 1px solid black;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container_d {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container_img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item_img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-image: url('../files/home.jpeg');
    height: 100%;

  /* Center and scale the image nicely */
  background-repeat: repeat;
  background-size: 100%;
}

p{
    background-color: aliceblue; 
    border-radius: 10px; 
    font-size: 25px;
}

h1{
    font-size: 70px;
    color: aliceblue;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}

h3{
    font-size: 30px;
    color: aliceblue;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}

img{
    border: 4px solid black;
}